.card-thanks {
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  transition: all 0.3s ease 0s;
  &__image {
    position: relative;
    padding-bottom: 58.285714%; /* 204/350 */
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }
  &__button-play {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    right: 5.714286%; /* 20px/350 */
    bottom: 9.803922%; /* 20px/204 */
    transform: translateY(50%);
    opacity: 0;
    transition: all 0.2s ease 0s;
  }
  &__content {
    padding: 0px 29px 31px 29px;
  }
  &__text {
    color: #323232;
    font-weight: 400;
    line-height: 1.68;
    letter-spacing: 1.15px;
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
  &__info {
  }
  &__name {
    color: #323232;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  &__city {
    color: #58bebf;
    line-height: 1.68;
    letter-spacing: 1.15px;
  }
  &:hover {
    box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
    .card-thanks__city {
      color: #f78434;
    }
    .card-thanks__button-play {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.card-thanks--decor {
  position: relative;
  overflow: visible;
  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: -9.456265%; /* 40/423 */
    right: -11.428571%; /* 40/350 */
    background: url("../assets/img/thanks/decor.svg") no-repeat;
  }
}
