@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #323232;
  line-height: 1.69;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[class*=__container] {
  max-width: 69.1875em;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 0.8px;
  font-size: calc(1.9375rem + 0.5729166667vw);
}
@media (max-width: 767.98px) {
  .title {
    font-size: calc(1.9375rem + 1.16875 * (100vw - 20em) / 120);
  }
}

.button {
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  background-color: #f78434;
  border-radius: 29px;
  padding: 10px 39px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
  min-width: 172px;
  max-width: 172px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #cd5c0c;
}
.button--white {
  background-color: #fff;
  color: #000;
}
.button--white:hover {
  background-color: #000;
  color: white;
}

.card {
  padding: 39.5px 88px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card__icon svg {
  fill: #f78434;
}
.card__icon:not(:last-child) {
  margin-bottom: 15px;
}
.card__title:not(:last-child) {
  margin-bottom: 1px;
}
.card__text {
  text-align: center;
  letter-spacing: 0.0719rem;
  max-width: 364px;
}
.card__text:not(:last-child) {
  margin-bottom: 25px;
}
.card__button {
  color: #f78434;
  background-color: transparent;
}
.card__button:hover {
  background-color: transparent;
}
@media (max-width: 767.98px) {
  .card {
    max-width: 500px;
    padding: 39.5px 20px;
  }
}
.card:hover {
  background-color: #f78434;
}
.card:hover .card__icon svg {
  fill: #fff;
}
.card:hover .card__title {
  color: #fff;
}
.card:hover .card__text {
  color: #fff;
}
.card:hover .card__button {
  color: #f78434;
  background-color: #fff;
}

.item-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 261px;
}
.item-choose__icon:not(:last-child) {
  margin-bottom: 15px;
}
.item-choose__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}
.item-choose__title:not(:last-child) {
  margin-bottom: 2px;
}
.item-choose__text {
  text-align: center;
  font-weight: 400;
  line-height: 1.68;
  letter-spacing: 1.15px;
}

.card-thanks {
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card-thanks__image {
  position: relative;
  padding-bottom: 58.285714%; /* 204/350 */
}
.card-thanks__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-thanks__image:not(:last-child) {
  margin-bottom: 31px;
}
.card-thanks__button-play {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  right: 5.714286%; /* 20px/350 */
  bottom: 9.803922%; /* 20px/204 */
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.card-thanks__content {
  padding: 0px 29px 31px 29px;
}
.card-thanks__text {
  color: #323232;
  font-weight: 400;
  line-height: 1.68;
  letter-spacing: 1.15px;
}
.card-thanks__text:not(:last-child) {
  margin-bottom: 23px;
}
.card-thanks__name {
  color: #323232;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.card-thanks__city {
  color: #58bebf;
  line-height: 1.68;
  letter-spacing: 1.15px;
}
.card-thanks:hover {
  -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.card-thanks:hover .card-thanks__city {
  color: #f78434;
}
.card-thanks:hover .card-thanks__button-play {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.card-thanks--decor {
  position: relative;
  overflow: visible;
}
.card-thanks--decor::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: -9.456265%; /* 40/423 */
  right: -11.428571%; /* 40/350 */
  background: url("../assets/img/thanks/decor.svg") no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media (max-width: 61.9988em) {
  .header__container {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 48.3113em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.9988em) {
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 48.3113em) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__link {
  line-height: 1.5;
  color: inherit;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.menu__link--active {
  color: #f78434;
  font-weight: 700;
}
.menu__link:hover {
  color: #f78434;
}
@media (max-width: 48.3113em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

.main-block {
  padding-bottom: 100px;
}
@media (max-width: 61.9988em) {
  .main-block {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .main-block {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .main-block {
    padding-bottom: 25px;
  }
}
.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 53.75em) {
  .main-block__container {
    display: block;
  }
}
@media (max-width: 21.25rem) {
  .main-block__container {
    padding-top: 135px;
  }
}
.main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.22%;
          flex: 0 1 51.22%;
}
.main-block__title {
  font-size: calc(1.9375rem + 1.1979166667vw);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 0.8px;
  position: relative;
  z-index: 2;
  margin-right: -60px;
}
@media (max-width: 767.98px) {
  .main-block__title {
    font-size: calc(1.9375rem + 2.44375 * (100vw - 20em) / 120);
  }
}
.main-block__title:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 53.75em) {
  .main-block__title {
    margin-right: 0px;
  }
  .main-block__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
.main-block__body {
  margin-right: 15px;
}
@media (max-width: 53.75em) {
  .main-block__body {
    margin-right: 0px;
  }
}
.main-block__text {
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 1.15px;
  max-width: 467px;
}
.main-block__text:not(:last-child) {
  margin: 0px 0px 42px 0px;
}
@media (max-width: 53.75em) {
  .main-block__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 28.75em) {
  .main-block__text:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.main-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 28.75em) {
  .main-block__form {
    display: block;
  }
}
.main-block__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.78%;
          flex: 0 1 48.78%;
  padding-bottom: 60.704607%; /* 672/1107 */
  min-height: 300px;
}
@media (max-width: 53.75em) {
  .main-block__image {
    max-width: 500px;
    margin: 0 auto;
  }
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px 40px 40px 0px;
}

.form-main-block {
  max-width: 459px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../assets/img/main-block/icon/mail.svg") 28px 19px no-repeat;
}
@media (max-width: 53.75em) {
  .form-main-block {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 28.75em) {
  .form-main-block {
    margin-bottom: 15px;
  }
}
.form-main-block__input {
  line-height: 1.5;
  padding-left: 72px;
  background-color: transparent;
  height: 58px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
}
@media (max-width: 28.75em) {
  .form-main-block__input:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-main-block__input ::-webkit-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::-moz-placeholder {
  color: #bbbbbb;
}
.form-main-block__input :-ms-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::-ms-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::placeholder {
  color: #bbbbbb;
}
.form-main-block__button {
  margin-left: -75px;
  border-radius: 29px;
  background-color: #f78434;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  padding: 5px 37px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-main-block__button:hover {
  background-color: #cd5c0c;
}
@media (max-width: 28.75em) {
  .form-main-block__button {
    width: 100%;
    margin-left: 0px;
  }
}

.sponsors {
  padding-bottom: 91px;
}
@media (max-width: 61.9988em) {
  .sponsors {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .sponsors {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .sponsors {
    padding-bottom: 25px;
  }
}
.sponsors__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 25px;
}
@media (max-width: 46.0613em) {
  .sponsors__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 29.2488em) {
  .sponsors__items {
    row-gap: 15px;
  }
}

.weprovide {
  padding-bottom: 154px;
}
@media (max-width: 61.9988em) {
  .weprovide {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .weprovide {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .weprovide {
    padding-bottom: 25px;
  }
}
.weprovide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media (max-width: 53.5625em) {
  .weprovide__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.weprovide__images {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -239px;
}
@media (max-width: 53.5625em) {
  .weprovide__images {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.weprovide__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 68px 0px 58px 0px;
  max-width: 374px;
}
@media (max-width: 53.5625em) {
  .weprovide__content {
    padding: 0;
    max-width: none;
  }
}
.weprovide__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 53.5625em) {
  .weprovide__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
.weprovide__text {
  letter-spacing: 1.15px;
}
.weprovide__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 53.5625em) {
  .weprovide__text:not(:last-child):not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 28.75em) {
  .weprovide__text:not(:last-child):not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.weprovide__text > p:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 53.5625em) {
  .weprovide__text > p:not(:last-child):not(:last-child) {
    margin-bottom: 10px;
  }
}
.weprovide__button {
  max-width: 172px;
}
@media (max-width: 53.5625em) {
  .weprovide__button {
    margin-bottom: 25px;
  }
}
@media (max-width: 28.75em) {
  .weprovide__button {
    margin-bottom: 15px;
    max-width: none;
  }
}

.images-weprovide {
  gap: 32.35px;
}
@media (max-width: 50em) {
  .images-weprovide {
    gap: 20px;
  }
}
@media (max-width: 50em) {
  .images-weprovide {
    gap: 10px;
  }
}
@media (max-width: 25em) {
  .images-weprovide {
    gap: 5px;
  }
}
.images-weprovide__item {
  width: 385px;
  position: relative;
}
.images-weprovide__item img {
  max-width: 100%;
  border-radius: 20px;
}
.images-weprovide__item:last-child img {
  border-radius: 20px 20px 0px 20px;
}
.info-images-weprovide {
  position: absolute;
  bottom: 15.818182%; /* 87/550 */
  right: -11.979275%; /* -46.24px/386 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 32px 29px;
  gap: 20px;
  min-height: 141px;
}
@media (max-width: 51.875em) {
  .info-images-weprovide {
    display: none;
  }
}
.info-images-weprovide__icon img {
  height: 45px;
  width: 45px;
}
.content-info-images-weprovide {
  max-width: 177px;
}
.content-info-images-weprovide__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.content-info-images-weprovide__text {
  letter-spacing: 1.15px;
}

.product {
  padding-bottom: 144px;
}
@media (max-width: 61.9988em) {
  .product {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .product {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .product {
    padding-bottom: 25px;
  }
}
.product__body {
  padding: 59px 15px 0px 0px;
  background: #58bebf;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 96px;
     -moz-column-gap: 96px;
          column-gap: 96px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
  position: relative;
}
@media (max-width: 68.125em) {
  .product__body {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 27.125em) {
  .product__body {
    padding-bottom: 15px;
    padding-left: 15px;
  }
}
.product__body::after {
  content: "";
  position: absolute;
  width: 304px;
  height: 304px;
  top: -103px;
  right: -78px;
  background: url("../assets/img/product/decor/01.svg") no-repeat;
}
.product__body::before {
  content: "";
  position: absolute;
  width: 304px;
  height: 304px;
  z-index: 2;
  bottom: -203px;
  left: 32.972973%; /* 366/1110 */
  background: url("../assets/img/product/decor/02.svg") no-repeat;
}
.product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.09009%;
          flex: 0 1 50.09009%; /* 556/1110 */
}
@media (max-width: 27.125em) {
  .product__image {
    display: none;
  }
}
.product__image img {
  border-radius: 0px 21.6px 0px 0px;
}
.product__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.90991%;
          flex: 0 1 49.90991%;
}
@media (max-width: 27.125em) {
  .product__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.content-product__title {
  color: #fff;
}
.content-product__title:not(:last-child) {
  margin-bottom: 15px;
}
.content-product__text {
  max-width: 320px;
  color: #fff;
}
.content-product__text:not(:last-child) {
  margin-bottom: 30px;
}
.content-product__button {
  width: 100%;
}
@media (max-width: 27.125em) {
  .content-product__button {
    max-width: none;
  }
}
.content-product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 27.125em) {
  .content-product__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
}

.button--white {
  position: relative;
  padding: 10px 29px 10px 49px;
}
.button--white::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  top: 23px;
  left: 30px;
  background: url("../assets/img/product/Icon.svg") no-repeat;
}

.serve {
  padding-bottom: 113px;
  position: relative;
}
@media (max-width: 61.9988em) {
  .serve {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .serve {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .serve {
    padding-bottom: 25px;
  }
}
.serve::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 704px;
  z-index: -1;
  background-color: #f5f6fa;
  top: -60%;
}
.serve__header:not(:last-child) {
  margin-bottom: 45px;
}
@media (max-width: 56.25em) {
  .serve__header:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 31.25em) {
  .serve__header:not(:last-child) {
    margin-bottom: 20px;
  }
}
.serve__title {
  text-align: center;
}
.serve__text {
  text-align: center;
}
.serve__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 70em) {
  .serve__cards {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .serve__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}
.choose {
  padding-bottom: 171px;
}
@media (max-width: 61.9988em) {
  .choose {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .choose {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .choose {
    padding-bottom: 25px;
  }
}
.choose__title {
  text-align: center;
}
.choose__title:not(:last-child) {
  margin-bottom: 58px;
}
@media (max-width: 56.25em) {
  .choose__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 31.25em) {
  .choose__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.choose__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 30px;
}
@media (max-width: 67.625em) {
  .choose__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 55.125em) {
  .choose__items {
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }
}
.thanks {
  padding-bottom: 42px;
}
@media (max-width: 61.9988em) {
  .thanks {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .thanks {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .thanks {
    padding-bottom: 25px;
  }
}
.thanks__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.thanks__header:not(:last-child) {
  margin-bottom: 58px;
}
@media (max-width: 56.25em) {
  .thanks__header:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 31.25em) {
  .thanks__header:not(:last-child) {
    margin-bottom: 20px;
  }
}
.thanks__title {
  max-width: 470px;
}
.thanks__text {
  color: #606060;
  line-height: 1.68;
  letter-spacing: 1.15px;
  max-width: 398px;
}
.thanks__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 56.125em) {
  .thanks__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 759px) {
  .thanks__card {
    max-width: 450px;
  }
}

.experience {
  position: relative;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.experience__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: #58bebf;
  -webkit-clip-path: polygon(0 32%, 100% 9%, 100% 100%, 0% 100%);
          clip-path: polygon(0 32%, 100% 9%, 100% 100%, 0% 100%);
}
@media (max-width: 51.25em) {
  .experience__container::before {
    -webkit-clip-path: polygon(0 20%, 100% 9%, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 9%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 51.25em) {
  .experience__container::before {
    -webkit-clip-path: polygon(0 20%, 100% 14%, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 14%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 45.75em) {
  .experience__container::before {
    -webkit-clip-path: polygon(0 10%, 100% 5%, 100% 100%, 0% 100%);
            clip-path: polygon(0 10%, 100% 5%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 44rem) {
  .experience__container::before {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.experience__content {
  padding-bottom: 55px;
  max-width: 359px;
}
@media (max-width: 45em) {
  .experience__content {
    padding-top: 5px;
    padding-bottom: 20px;
  }
}
@media (max-width: 36.875em) {
  .experience__content {
    max-width: none;
  }
}
.experience__title {
  color: #fff;
}
.experience__title:not(:last-child) {
  margin-bottom: 15px;
}
.experience__text {
  color: #fff;
}
.experience__text:not(:last-child) {
  margin-bottom: 30px;
}
.experience__button {
  color: black;
  background-color: #fff;
}
.experience__button:hover {
  color: #fff;
  background-color: black;
}
.experience__image {
  padding-right: 99px;
  display: inline-block;
  position: relative;
}
@media (max-width: 70.625em) {
  .experience__image {
    padding-right: 0;
  }
}
@media (max-width: 36.875em) {
  .experience__image {
    display: none;
  }
}
.experience__image img {
  max-width: 100%;
}
.experience__image::after {
  content: "";
  position: absolute;
  width: 743px;
  height: 743px;
  z-index: -1;
  bottom: -67.824497%; /* 371/547 */
  left: -16.527197%; /* 79/478 */
  border-radius: 743px;
  background: -o-linear-gradient(226deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(224deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.footer {
  padding: 91px 0px 82px 0px;
}
@media (max-width: 61.9988em) {
  .footer {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .footer {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .footer {
    padding-bottom: 25px;
  }
}
@media (max-width: 61.9988em) {
  .footer {
    padding-top: 70px;
  }
}
@media (max-width: 47.9988em) {
  .footer {
    padding-top: 45px;
  }
}
@media (max-width: 29.2488em) {
  .footer {
    padding-top: 25px;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
}

.body-footer__logo {
  display: inline-block;
}
.body-footer__logo:not(:last-child) {
  margin-bottom: 15px;
}
.body-footer__text {
  line-height: 1.68;
  letter-spacing: 1.15px;
  max-width: 300px;
}
@media (max-width: 59.9375em) {
  .body-footer__text {
    max-width: none;
  }
}
.body-footer__text:not(:last-child) {
  margin-bottom: 40px;
}
.body-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 38.125em) {
  .body-footer__menu {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 21.625em) {
  .body-footer__menu {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.menu-footer__title {
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}
.menu-footer__title:not(:last-child) {
  margin-bottom: 18px;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 13px;
}
.menu-footer__link {
  font-size: 0.875rem;
  line-height: 1.92;
  letter-spacing: 0.5px;
}