@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #323232;
  line-height: 1.69;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[class*=__container] {
  max-width: 69.1875em;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.48;
  letter-spacing: 0.8px;
}
@media (max-width: 53.5625em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 31.25em) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 25rem) {
  .title {
    font-size: 1.8rem;
  }
}

.button {
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  background-color: #f78434;
  border-radius: 29px;
  padding: 10px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
  max-width: 172px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #cd5c0c;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media (max-width: 61.9988em) {
  .header__container {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 48.3113em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.9988em) {
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 48.3113em) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__link {
  line-height: 1.5;
  color: inherit;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.menu__link--active {
  color: #f78434;
  font-weight: 700;
}
.menu__link:hover {
  color: #f78434;
}
@media (max-width: 48.3113em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

.main-block {
  padding-bottom: 100px;
}
@media (max-width: 61.9988em) {
  .main-block {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .main-block {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .main-block {
    padding-bottom: 25px;
  }
}
.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 53.75em) {
  .main-block__container {
    display: block;
  }
}
@media (max-width: 21.25rem) {
  .main-block__container {
    padding-top: 135px;
  }
}
.main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.22%;
          flex: 0 1 51.22%;
}
.main-block__title {
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 1.46;
  letter-spacing: 0.8px;
  position: relative;
  z-index: 2;
  margin-right: -60px;
}
.main-block__title:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 70.25em) {
  .main-block__title {
    font-size: 3rem;
  }
}
@media (max-width: 61.9988rem) {
  .main-block__title {
    font-size: 2.7rem;
  }
}
@media (max-width: 55.5em) {
  .main-block__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 53.75em) {
  .main-block__title {
    margin-right: 0px;
  }
  .main-block__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
@media (max-width: 31.25em) {
  .main-block__title {
    font-size: 2rem;
  }
}
@media (max-width: 25rem) {
  .main-block__title {
    font-size: 1.8rem;
  }
}
.main-block__body {
  margin-right: 15px;
}
.main-block__text {
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 1.15px;
  max-width: 467px;
}
.main-block__text:not(:last-child) {
  margin: 0px 0px 42px 0px;
}
@media (max-width: 53.75em) {
  .main-block__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 28.75em) {
  .main-block__text:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.main-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 28.75em) {
  .main-block__form {
    display: block;
  }
}
.main-block__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.78%;
          flex: 0 1 48.78%;
  padding-bottom: 60.704607%; /* 672/1107 */
  min-height: 300px;
}
@media (max-width: 53.75em) {
  .main-block__image {
    max-width: 500px;
    margin: 0 auto;
  }
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px 40px 40px 0px;
}

.form-main-block {
  max-width: 459px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../assets/img/main-block/icon/mail.svg") 28px 19px no-repeat;
}
@media (max-width: 53.75em) {
  .form-main-block {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 28.75em) {
  .form-main-block {
    margin-bottom: 15px;
  }
}
.form-main-block__input {
  line-height: 1.5;
  padding-left: 72px;
  background-color: transparent;
  height: 58px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
}
@media (max-width: 28.75em) {
  .form-main-block__input:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-main-block__input ::-webkit-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::-moz-placeholder {
  color: #bbbbbb;
}
.form-main-block__input :-ms-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::-ms-input-placeholder {
  color: #bbbbbb;
}
.form-main-block__input ::placeholder {
  color: #bbbbbb;
}
.form-main-block__button {
  margin-left: -75px;
  border-radius: 29px;
  background-color: #f78434;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  padding: 5px 37px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-main-block__button:hover {
  background-color: #cd5c0c;
}
@media (max-width: 28.75em) {
  .form-main-block__button {
    width: 100%;
    margin-left: 0px;
  }
}

.sponsors {
  padding-bottom: 91px;
}
@media (max-width: 61.9988em) {
  .sponsors {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .sponsors {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .sponsors {
    padding-bottom: 25px;
  }
}
.sponsors__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 25px;
}
@media (max-width: 46.0613em) {
  .sponsors__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 29.2488em) {
  .sponsors__items {
    row-gap: 15px;
  }
}

.weprovide {
  padding-bottom: 154px;
}
@media (max-width: 61.9988em) {
  .weprovide {
    padding-bottom: 70px;
  }
}
@media (max-width: 47.9988em) {
  .weprovide {
    padding-bottom: 45px;
  }
}
@media (max-width: 29.2488em) {
  .weprovide {
    padding-bottom: 25px;
  }
}
.weprovide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media (max-width: 53.5625em) {
  .weprovide__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.weprovide__images {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -239px;
}
@media (max-width: 53.5625em) {
  .weprovide__images {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.weprovide__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 68px 0px 58px 0px;
  max-width: 374px;
}
@media (max-width: 53.5625em) {
  .weprovide__content {
    padding: 0;
    max-width: none;
  }
}
.weprovide__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 53.5625em) {
  .weprovide__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
.weprovide__text {
  letter-spacing: 1.15px;
}
.weprovide__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 53.5625em) {
  .weprovide__text:not(:last-child):not(:last-child) {
    margin-bottom: 15px;
  }
}
.weprovide__text > p:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 53.5625em) {
  .weprovide__text > p:not(:last-child):not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 53.5625em) {
  .weprovide__button {
    margin-bottom: 25px;
  }
}

.images-weprovide {
  gap: 32.35px;
}
@media (max-width: 50em) {
  .images-weprovide {
    gap: 20px;
  }
}
@media (max-width: 50em) {
  .images-weprovide {
    gap: 10px;
  }
}
@media (max-width: 25em) {
  .images-weprovide {
    gap: 5px;
  }
}
.images-weprovide__item {
  width: 385px;
  position: relative;
}
.images-weprovide__item img {
  max-width: 100%;
  border-radius: 20px;
}
.images-weprovide__item:last-child img {
  border-radius: 20px 20px 0px 20px;
}
.info-images-weprovide {
  position: absolute;
  bottom: 15.818182%; /* 87/550 */
  right: -11.979275%; /* -46.24px/386 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 32px 29px;
  gap: 20px;
  min-height: 141px;
}
@media (max-width: 51.875em) {
  .info-images-weprovide {
    display: none;
  }
}
.info-images-weprovide__icon img {
  height: 45px;
  width: 45px;
}
.content-info-images-weprovide {
  max-width: 177px;
}
.content-info-images-weprovide__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.content-info-images-weprovide__text {
  letter-spacing: 1.15px;
}