body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #323232;
  line-height: 1.69;
}

//////////////////////////////////////////////
.wrapper {
  display: flex;
  flex-direction: column;
}

//////////////////////////////////////////

.page {
  flex: 1 1 auto;
  &__main-block {
  }
  &__sponsors {
  }
  &__weprovide {
  }
  &__product {
  }
  &__serve {
  }
  &__choose {
  }
  &__thanks {
  }
  &__experience {
  }
}
//////////////////////////////////////////

[class*="__container"] {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
