@mixin padding-adaptive-mixin {
  @media (max-width: 61.9988em) {
    padding-bottom: 70px;
  }
  @media (max-width: 47.9988em) {
    padding-bottom: 45px;
  }
  @media (max-width: 29.2488em) {
    padding-bottom: 25px;
  }
}
@mixin title-adaptive-mixin {
  @media (max-width: 53.5625em) {
    font-size: 2.5rem;
  }
  @media (max-width: 31.25em) {
    font-size: 2rem;
  }
  @media (max-width: 25rem) {
    font-size: 1.8rem;
  }
}
